<div class="container">
  <h1>Welcome to Tauri + Angular + RxDB!</h1>
  <div class="row">
    <a href="https://tauri.app" target="_blank">
      <img src="/assets/tauri.svg" class="logo tauri" alt="Tauri logo" />
    </a>
    <a href="https://angular.io" target="_blank">
      <img src="/assets/angular.svg" class="logo angular" alt="Angular logo" />
    </a>
    <a href="https://rxdb.info/" target="_blank">
      <img src="/assets/rxdb.svg" class="logo rxdb" alt="RxDB logo" />
    </a>
  </div>
  <p>RxDB Heroes</p>
  <router-outlet></router-outlet>
</div>
